.app-shell {
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
}

.body-shell {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: 1rem 2rem;
  overflow: hidden;
}
