<nav aria-label="breadcrumb" class="breadcrumb-nav d-block">
  <ol class="breadcrumb mb-0">
    @for (item of breadcrumbs; track item.label) {
    <li
      class="breadcrumb-item"
      [class.mobile-hidden]="!item.isActive"
      [class.active]="item.isActive"
      [attr.aria-current]="item.isActive ? 'page' : null"
    >
      @if (!item.isActive) {
      <a [routerLink]="item.url" class="breadcrumb-link"> {{ item.label }} </a>
      } @else {
      <span class="breadcrumb-active">{{ item.label }}</span>
      }
    </li>
    }
  </ol>
</nav>
